*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body{
    width: 100%;
    font-size: 1rem;
    background-color: #000;
    color: #fff;
}

main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 250%;
}

p{
    color: #fff;
}

button{
    padding: 1rem;
    border-radius: 10px;
    color:#fff;
    background-color: red;
    width: 10rem;
}